<h1>
  Users
</h1>
<table class="table table-hover">
  <thead>
    <th>
      Name
    </th>
    <th>
      Email
    </th>
    <th>
      Role
    </th>
    <th class="centralize">
      Actions
    </th>
  </thead>
  <tbody data-role="users">
  </tbody>
</table>
<a href="users/new" class="btn btn-primary">Register a new user</a>
