<td>
  {{name}}
</td>
<td>
  {{email}}
</td>
<td>
  {{role}}
</td>
<td class="centralize">
  <a href="/users/{{id}}/edit" class="btn btn-warning">edit</a> <button data-role="remover" class="btn btn-danger">delete</button>
</td>
