<!DOCTYPE html>
<html>
<head>
  <title>JogTracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart', 'line']}]}"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="menu" class="navbar navbar-static-top bs-docs-nav">
</header>
<div id="container" class="container">
</div>

</body>
</html>
